.toolbar1{
  width:100%;
  background-color: white;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black; 
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  position:fixed;
  opacity:1;
}
.toolbar1logo a{
  color:#73818f;
  font-size: 2em; 
}
.toolbar1logo img{
  width:29%;
  height:29%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.toolbaritems1 a{
  color: #73818f;
  text-decoration: none;
  padding:0.5rem;
  padding-bottom: 0.5rem;
}
.toolbaritems1 ul{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
}
.toolbaritems1 li{
  padding-left:  0.5rem;
  padding-right: 0.5rem;
}
.spacer{
  flex: 1;
}