.toolbaritems{
  background-color: #3a4248;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  min-width: 11%;
  max-width: 11%;
}
.toolbaritems label{
  color:white;
  padding:1rem 1rem 1rem 1rem;
}
.toolbaritems label:hover{
  background-color: #20a8d8;
  padding:1rem 1rem 1rem 1rem;
}
.contentclass{
  margin-left: 11%;
}
